.header-container {
  display: flex;
  background-color: rgb(17, 116, 17);
  color: white;
  justify-content: space-between;
}
.links {
  margin-top: 15px;
}

.items {
  margin: 10px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  padding: 2px;
  text-decoration: none;
  color: white;
}
